<header>
    <h1><a href="/">Auctions</a></h1>
    <nav><ul>
        <% if logged_in? %>
            <li><a href="<%= "/users/#{current_user_name}" %>">
            <%= current_user_name %></a></li>
            <li><a href="/users/logout">Logout</a></li>
        <% else %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/new">Register</a></li>
        <% end %>
    </ul></nav>
</header>