<label for="name">Username:</label>
<input id="name" type="text" name="user[name]" value="<%= user.name %>" >
<label for="password">Password</label>
<input id="password" type="password" minlength="6" name="user[password]">
