<label for="name">Name:</label>
<input id="name" type="text" name="item[name]" value="<%= item.name %>" >
<label for="description">Description:</label>
<input id="description" type="text" name="item[description]" value="<%= item.description %>" >
<label for="start-time">Start Time:</label>
<input id="start-time" type="text" name="item[start_time]" placeholder="YYYY-MM-DD HH:MM:SS" value="<%= item.start_time %>" >
<label for="end-time">End Time:</label>
<input id="end-time" type="text" name="item[end_time]" placeholder="YYYY-MM-DD HH:MM:SS" value="<%= item.end_time %>" >
