<form id="new-item" action="/items" method="post">
    <fieldset>
        <legend>List a new item!</legend>
        <%= erb :_errors, layout: false, locals: {error_messages: @errors} %>
        <%= erb :"items/_iteminfo", layout: false, locals: {item: @item} %>
    </fieldset>
    <input type="submit" value="List it!">
</form>